.app {
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 80px 20px 20px; /* Adjustes top padding for fixed navbar */
}

.app h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 0 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .app {
    padding: 70px 10px 10px; /* Adjusted top padding for smaller screens */
  }

  .container {
    max-width: 100%;
    padding: 0 10px; /* Adjusted padding for smaller screens */
  }
}